.organization-thumbnail img {
  width: 64px;
}

dataset {
  display: block;
  border-bottom: 1px #d6d6d6 solid;
  padding-bottom: 20px;
}

.list-group-item-truncate {
  display: inline-block;
  line-height: 1;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-description {
  font-size: 90%;
}

.select2 {
  margin-bottom: 10px;
}

.datasets-count {
  display: inline-block;
}

.add-dataset-btn {
  margin-top: 15px;
}

/* Hidden from guests */
.user-issue,
.admin-only {
  display: none;
}

.resource-details,
.show-resource-details {
  display: none;
}

.show-resource-details {
  font-size: 80%;
}

.user-issue {
  color: red;
}

[data-component~=view-switcher] [data-hook~=view] {
  display: none;
}

.homepage-categories,
.theme-gallery {
  text-align: justify;
}

/* allows last line of categories to be justify aligned */
.homepage-categories:after,
.theme-gallery:after {
  display: inline-block;
  width: 100%;
  content: '';
}

.homepage-categories .thumbnail {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  border: none;
  padding: 10px;
}

.homepage-categories .thumbnail img {
  height: 80px;
}

.homepage-categories a {
  color: #000;
}

.theme-gallery .panel {
  display: inline-block;
  max-width: 250px;
  text-align: center;
}

.theme-gallery .panel img {
  width: 100%;
}

.theme-gallery .panel-primary {
  border-width: 5px;
}

/* Local style changes */

a:link, a:visited {
  color: rgb(229, 20, 16);
  text-decoration: none;
}

a:hover, a:focus  {
  text-decoration: underline;
}

/*Button changes*/
a.btn.btn-primary.btn-lg {
  color: #fff;
  background-color: #0f6ab1;
  border-color: #0f6ab1;
}

a.btn.btn-primary.btn-lg:hover {
color: #fff;
  background-color: rgb(229, 20, 16);
  border-color: rgb(229, 20, 16);
}

.btn-default {
    background-color: #fff;
    border-color: rgb(229, 20, 16);
}
 
rgb(229, 20, 16)
  
/* Navigation bar changes*/
.navbar-default {
  background-color: #0f6ab1;
  border-color: #0f6ab1;
  color: #fff;
  border-radius: 0;
}

.navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{
  color:#ffffff;
  background-color: rgb(229, 20, 16);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: rgb(229, 20, 16);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: rgb(229, 20, 16);

/* Jumbotron changes on front page */
@media screen and (min-width: 768px)
.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
}

.jumbotron h1 {
  font-size: 2.5em;
}

.jumbotron p  {
  font-size: 1.2em;
}
